body {
    height: 100%;
    width: 100%;
    min-width: 900px;
    margin: 0;
}

@font-face {
    font-family: 'GameOfThrones';
    url('fonts/GameOfThrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.mainWrap {
    display: flex;
    flex-direction: row;
}

#leftSide {
    width: 50%;
    height: 625px;
    background-image: url("form/dark1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#rightSide {
    width: 50%;
    height: 625px;
    background-image: url("form/darknoise.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #d3bb89;
}

#got {
    padding-top: 100px;
    text-align: center;
    font-size: 2.7rem;
}

#firstInput, #secondInput, #inputSubmit {
    font-size: 1.1rem;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

#email, #password, #name{
    margin-top: 15px;
    width: 75%;
}

span{
    font: 0.7rem Arial;
    color: white;
}

input[type="email"], input[type="password"],
input[type="text"], select{
    outline: none;
    font: 0.9rem Arial;
    background: url("form/darknoise.png");
    border: none;
    padding-bottom: 15px;
    border-bottom: 2px solid #d3bb89;
    color: #d3bb89;
}

#checkboxPlace{
    font-size: 1.2rem;
    padding-top: 20px;
    margin-left: 20%;
}

input[type="checkbox"]{
    display: none;
}

#checkboxLabel::before{
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: #d3bb89;
    vertical-align: -2px;
    border-radius: 10%;
    margin-right: 10px;
}

input[type="checkbox"]:checked + #checkboxLabel::before{
    background-image: url("form/checked.png");
    background-repeat: no-repeat;
}

#submit{
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font: 1.1rem GameOfThrones;
    color: white;
    background-color: #c0994f;
    border: 0;
}

#gotNext{
    font-family: GameOfThrones;
    padding-top: 60px;
    text-align: center;
    font-size: 2.3rem;
}

#tellAboutYourself{
    font-family: Arial;
    font-size: 0.9rem;
    color: #c7c9c6;
    margin-left: 20%;
    margin-top: 20px;
    padding-left: 15px;
    border-left: 2px solid #d3bb89;
}

#firstInputSecondForm, #secondInputSecondForm,
#thirdInputSecondForm{
    margin-left: 20%;
    margin-top: 20px;
}

#whoAreYou{
    font-size: 1.2rem;
}

#alpha-numeric{
    font-family: Arial;
    font-size: 0.7rem;
    color: #c7c9c6;
}

#house{
    margin-top: 30px;
    width: 75%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option{
    color: #d3bb89;
    background-color: #2c2b27;
}

textarea{
    font: 0.8rem Arial;
    color: #d3bb89;
    background: url("form/darknoise.png") center center no-repeat;
    margin-top: 15px;
    width: 75%;
    border: none;
    outline: none;
    resize: none;
}

#line{
    border: #d3bb89;
    width: 100%;
    margin-left: 20%;
}

hr{
    background-color: #d3bb89;
    border: none;
    height: 2px;
    margin-left: 20%;
    margin-right: 20%;
}

input[type="submit"]{
    color: white;
    background-color: #d3bb89;
    outline: none;
    border: none;
    margin-left: 20%;
    margin-top: 30px;
    padding: 10px 10px;
    width: 60%;
}
